@media only screen and (max-width : 1024px) {
  .container {
    max-width: 842px;
    width: 100%;
  }

  /*-----------------------Media 1024------------------------*/
  .header {
    position: relative;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-color);
  }

  .header::before {
    position: absolute;
    top: 78px;
    width: 100%;
    min-height: 1px;
    content: '';
    background-color: var(--light-color);
  }

  .header__left {
    width: 13.59%;
    margin-right: auto;
    padding-top: 2px;
    order: 1;
  }

  .header__right {
    min-height: 20px;
    padding-right: 5px;
    order: 2;
  }

  .header__center {
    padding: 0;
    padding-top: 49px;
    width: 100%;
    order: 3;
  }

  .header-nav__link {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-nav {
    justify-content: flex-start;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 105px;
  }

  /*-------------hero 1024-------------*/

  .hero {
    padding-top: 90px;
    padding-bottom: 89px;
    background-image: url("../img/hero/hero__mic_1024.png");
    background-size: 25% auto;
    background-position-x: 86.8%;
    background-position-y: 48.5%;
  }

  .hero__content {
    width: 65%;
  }

  .hero__text {
    margin-bottom: 22px;
  }

}

@media only screen and (max-width : 768px)  {
    .container {
      max-width: 560px;
      width: 100%;
    }

 /*----------------header 768----------------*/
 .header {
  padding-top: 28px;
  padding-bottom: 20px;
}

.header__left {
  width: 20.9%;
  padding-top: 5px;
}

.header__right {
  padding: 0;
  padding-right: 13px;
}

.header::before {
  top: 80px;
}

.header__center {
  padding-top: 48px;
}

.header-nav__item:not(:last-child) {
  margin-right: 56px;
}

.header-nav__item:first-child {
  margin-right: 49px;
}

.header-nav__link {
  font-size: 16px;
}
/*-------------hero 768-------------*/
.hero {
  background-image: none;

}

.hero__content  {
  width: 100%;
}

.hero__title  {
  margin-bottom: 16px;
}

.hero__text {
  margin-bottom: 21px;
}
}

@media only screen and (max-width : 320px) {
  .container {
    max-width: 276px;
    width: 100%;
  }

  .section-title {
    font-size: 24px;
  }

   /*----------------header 320----------------*/

   .header {
    padding: 0;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .header::before {
    top: 55px;
  }

  .header__left {
    width: 33.98%;
    margin-bottom: 33px;
  }

  .header__right {
    margin-bottom: auto;
  }

  .header__center {
    padding: 0;
  }

  .header-nav__item {
    max-height: 18px;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 33px;
  }

  .header-nav__item:first-child {
    margin-right: 24px;
  }

  .header-nav__link {
    padding: 0;
  }
  /*-------------hero 768-------------*/
  .hero {
    padding-top: 41px;
    padding-bottom: 40px;
  }

  .hero__title  {
    font-size: 32px;
    margin-bottom: 7px;
  }

  .hero__text {
    font-size: 14px;
     margin-bottom: 20px;
  }

  .hero__link {
    width: 200px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 16px;
  }
}
