/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 6 version
*/

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLightItalic.woff2') format('woff2'),
    url('../fonts/MullerLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
}


body {
  min-width: 320px;
  font-family: 'Muller', sans-serif;
}

img {
  max-width: 100%;
}

:root {
  --black: #121723;
  --light-black: #292e39;
  --text-gray: #a1a6b4;
  --shade-gray: #d2d5dd;
  --white: #fff;
  --primary: #6d31ee;
  --primary-shade: #4f28a5;
  --primary-light: #aa9dfa;
  --light-color: #e6e8ec;
  --light-color-40: #f5f6f7;
  --red: #d52b1e;
  --promo-color: #f0d288;
  --promo-color-shade: #bb973e;

  --gap: 30px;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}


.flex {
  display: flex;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}


.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  border-radius: 40px;

}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}



.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  outline: none;
}

.title {
  margin: 0;
}


.text {
  margin: 0;
}



/*----------------block model----------------*/

.container {
  max-width: 1130px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section-list {
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style: none;
}

.card {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.card__img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.text__link {
  display: inline-block;
  color: var(--primary);
  line-height: 150%;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.text__link:hover {
  text-decoration: underline 2px;
}

.text__link:focus:not(:active) {
  color: var(--white);
  background-color: var(--primary-light);
  text-decoration: none;
}

.text__link:active {
  background-color: transparent;
  color: var(--primary-shade);
  text-decoration: underline 2px;
}

/*----------------header----------------*/

  .header {
    padding-top: 31px;
    padding-bottom: 38px;
  }

  .header__left {
    width: 14.21%;
    align-items: center;
  }



  .header__center {
    width: 83.42%;
    align-items: center;
    padding-left: 72px;
  }

  .header__right {
    width: 2.16%;
    align-items: center;
    justify-content: center;
  }

  .header__nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header-nav__list {
    align-items: center;
    overflow-x: scroll;
  }

  .header-nav__item:not(:last-child)  {
    margin-right: 39px;
  }

  .header-nav__link {
    padding: 10px;
    font-size: 20px;
    line-height: normal;
    outline: none;
    color: var(--black);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .header-nav__link:hover {
    color: var(--primary);
  }

  .header-nav__link:focus:not(:active) {
    color: var(--white);
    background-color: var(--primary-light);
  }

  .header-nav__link:active {
    color: var(--primary-shade);
  }

  .header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    transition: color 0.3s ease-in-out;
  }

  .header__btn svg {
    stroke: currentColor;
  }

  .header__btn:focus {
    color: var(--primary-light);
  }

  .header__btn:hover {
    color: var(--primary-light);
  }

  .header__btn:active {
    color: var(--primary-shade);
  }

/*----------------hero----------------*/

/*----------------podcasts----------------*/
.podcasts {
  background-color: var(--light-color);
}
.section-list {
  gap: var(--gap);
  --offsets:1;
}
.section-item {
width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.podcast-card {
  background-color: var(--white);
}

.podcast-card__left {
  position: relative;
  width: 20.7407%;
}

.podcast-card__date {
  position: absolute;
  bottom: 0;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  background-color: var(--light-color);
}

.podcast-card__right  {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
}

.podcast-card__time {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.podcast-card__title  {
  margin-bottom: 4px;
font-size: 20px;
font-weight: 400;
line-height: normal;
color: var(--black);
}

/*----------------broadcasts----------------*/

.broadcasts__left {
  width: calc(25% - var(--gap));
}

.broadcasts__right  {
 width: calc(75% - var(--gap));
}

.broadcasts__list {
  gap: var(--gap);
  --offsets: 2
}

.broadcasts__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.broadcast-card {
  flex-direction: column;
}

.broadcast-card__top  {
  flex: 0;
}

.broadcast-card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding-top: 20px;
  padding-left: 16px;
}

.broadcast-card__title  {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: var(--black);
}

.broadcast-card__text {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--text-gray);
}

.broadcast-card__link {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: normal;
  color: var(--black);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.broadcast-card__link svg path {
  fill: currentColor;
}

.broadcast-card__link:hover {
  color: var(--primary);
}

.broadcast-card__link:focus:not(:active)  {
  color: var(--white);
  background-color: var(--primary-light) ;
}

.broadcast-card__link:active  {
  color: var(--primary-shade) ;
}

/*----------------guests----------------*/

.guests {
  color: var(--white);
  background-color: var(--black);
}

.guests__list {
  gap: var(--gap);
}

.guests__item {
  width: 82.8829%;
}

.guest-card__left {
  width: 46.95652%;
  flex-shrink: 0;
}

.guest-card__right  {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  padding-left: 30px;
}

.guest-card__title  {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.guest-card__text {
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: var(--text-gray);
}

.guest-card__link {
  width: 160px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--primary-light);
  border: 2px solid var(--primary-light);
  border-radius: 77px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.guest-card__link:hover {
  color: var(--white);
  background-color: var(--primary-light);
  border-color: transparent;
}

.guest-card__link:focus:not(:active)  {
  color: var(--white);
  background-color: var(--primary);
  border-color: transparent;
}

.guest-card__link:active  {
  color: var(--white);
  background-color: var(--primary-shade);
  border-color: transparent;
}

/*----------------playlists----------------*/

.playlists__left  {
  width: calc(33.33333% - var(--gap));
}

.playlists__content {
  max-width: 100%;
}

.playlists__right {
  width: calc(66.66666% - var(--gap));
}

.playlists__list  {
  max-width: 100%;
  gap: var(--gap);
  --offsets: 3;
}

.playlists__item  {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.playlist-card  {
  flex-direction: column;
  border: 1px solid var(--light-color);

}

.playlist-card__top {
  position: relative;
  flex: 0;
}

.playlist-card__country {
  position: absolute;
  right: 0;
  width: 24px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  background-color: var(--black);
}

.playlist-card__country_ru  {
  background-image: url('../img/playlists/playlists__ru.svg');
}

.playlist-card__bottom  {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
}

.playlist-card__title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: var(--black);
}

.playlist-card__text  {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: var(--text-gray);
}

/*----------------adv----------------*/

/*----------------about----------------*/
.about  {
  color: var(--white);
  background-color: var(--black);
}

.about__top, .about__center {
  min-width: 100%;
}

.about-top__content {
  width: 57.1171%;
}
.about__title {
  margin-bottom: 12px;
}

.about__subtitle  {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: var(--text-gray);
}

.about__text  {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: var(--text-gray);
}

.about__list  {
  gap: var(--gap);
  --offsets: 3;
}

.about__item  {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}
.about-card {
  flex-direction: column;
}

.about-card__top  {
  flex: 0;
}

.about-card__bottom {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 30px;
}

.about-card__title  {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.about-card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-gray);
}






